[Unit]
Description=web service for monitoring regular tasks completion
After=network.target

[Service]
Type=simple
User=gtd
PermissionsStartOnly=true
ExecStart=/usr/sbin/gtd -config=/etc/gtd/gtd.conf
Restart=always
StartLimitBurst=7
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
