[Unit]
Description=web service for monitoring regular tasks completion
After=network.target

[Service]
Type=simple
User=gtd
PermissionsStartOnly=true
ExecStart=/usr/sbin/gtd -config=/etc/gtd/gtd.conf
Restart=always
StartLimitBurst=1000000
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
